
.cards{
  display: flex;
  justify-content: space-around;
  padding: 2%;
  margin: 10px;
  border: 2px solid white;
  border-radius: 10px;
}


/* .container {
  
  display: flex;
  flex-direction: row;
  margin: 10px;
  
  margin: 10px;
  height: 500px;
  width: 750px;
  border-radius: 10px;
  border: 2px solid white;
}

   */


  /* .card-left,
.card-right {
    flex: 1;
    display: flex;
    justify-content: center;
}

.card-left {
  margin-right: 90px;
  
}

.card-right {
  margin-left: 90px;
  
}
   */
  /*--------header section-----------*/
  
 