
.flip-card {
  display: flex;
  margin: 30px;
  padding: 20px;
  background-color: transparent;
  width: 245px;
  height: 270px;
  perspective: 1000px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  justify-content: center;
  align-items: center;
  text-align: center;
}


.flip-card-inner {
  margin: 10px;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}


.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 5px;
  border-radius: 2em;
  backface-visibility: hidden;
}


.flip-card-front {
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 20px;
  background-color: transparent;
  border: 2px solid #c143da;

}


.profile-image {
  justify-content: center;
  align-items: center;
  text-align: center;
  align-self: center;
  background-color: transparent;
  border: none;
  margin-top: 15px;
  border-radius: 5em;
  width: 150px;
  height: 150px;
  margin-left: 25px;
  object-fit: cover;
}


.pfp {
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 27em;
  fill: #c143da;
}


.name {
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-left: 25px;
  font-size: 20px;
  color: #c143da;
  font-weight: bold;
  margin-bottom: 20px;
}


.description {
  margin-top: 10px;
  font-size: 14px;
  letter-spacing: 1px;
  color: white;
}


.flip-card-back {
  background-color: #240d29;
  border: 4px solid #c143da;
  transform: rotateY(180deg);
  padding: 11px;
}


.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}


/* 
.card {
  width: 300px;
  padding: 16px;
  margin: 16px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.card-image {
  width: 200px;
  object-fit: cover;
  border-radius: 10px;
}

.card-title {
  color: #ffffff;
  margin-top: 8px;
  font-size: 18px;
  font-weight: bold;
}

.card-description {
  margin-top: 8px;
  font-size: 14px;
  color: #555;
} */


/* --------------------------------------------------------------------------------------
.card {
  width: 300px;
  padding: 16px;
  margin: 16px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  transition: transform 0.3s; 
  transform-style: preserve-3d; 
}

.card:hover {
  transform: rotateY(180deg); 
}

.card-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
}

.card-title {
  color: #555;
  margin-top: 8px;
  font-size: 18px;
  font-weight: bold;
}

.card-description {
  margin-top: 8px;
  font-size: 14px;
  color: #555;
}


.card-back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 16px;
  transform: rotateY(180deg); 
} */



/* 
img{---------------------------------------------------------------------------------------------------
  width: 200px;
  border-radius: 5px;
} */


/* .container {
  
    display: flex;
    margin: 10px;
    
    align-items: center;
    justify-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 1em;
  }
  .card1{
    margin: 10px;
    height: 300px;
    width: 150px;
    border-radius: 10px;
    border: 2px solid white;
    
  } */